.wrapper {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: 0;
  padding-right: 0;
  padding-left: 40px;
}
.header {
  background-color: rgb(5, 68, 104);
}
.resume {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 62%;
  height: 90%;
}
.backButton {
  background: none;
  color: white;
}
